* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --negro: #0d152a;
  --naranja:#f7941d;
  --gris:#686969;
  --blanco:#ffffff;
  --gris2:#f4f5f7;
  --formato1:"Roboto", sans-serif;

}
h1 {
  font-family: var(--formato1);
}

h2 {
  font-family: var(--formato1);
}

h3{
  font-family: var(--formato1);
}
a{
    text-decoration: none;
}

spam {
    color:var(--naranja);
}

/*header///////*/

.direccion {
    background-color: var(--negro);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.comunicacion {
    display:flex;
    flex-direction: row;
    gap:15px;
    color:var(--blanco);
}

.com{
    gap:10px;
    display:flex;
    flex-direction: row;
}

.com i{
   color:var(--naranja); 
}

.iconos i{
  color:var(--naranja);
  background-color: var(--blanco);
  padding:15px;
  border-radius: 50%;
}
.iconos i:hover{
    background-color: var(--negro);
    color:var(--blanco);
    transition: 1.0s;
}

.navegador {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}


.pestox {
    display:flex;
    width: 30%;
    align-items: center;
}

.pestox img{
    display:flex;
    width: 100%;
}

.phone {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.lupa {
    display:flex;
    margin:0px 190px;
}

.lupa a{
    color:var(--negro);
    font-size: 20px;
}

 .lupa a:hover{
    color:var(--naranja);
    transition: 1.0s;
 }

 .GetQuote{
    display:flex;
    
 }
 
 .GetQuote a{
    background-color: var(--naranja);
    padding:10px;
    border-radius: 20px;
    color:var(--blanco);
 }
 .GetQuote i{
    padding:0px 10px;
 }

 .GetQuote a:hover{
    background-color: var(--negro);
    transition: 1.0s;
 }


.nave {
    display:flex;
    gap:10px;
    align-items: center;
}

.nave a{
    color:var(--negro);
    font-size: 20px;
}

.nave a:hover {
   color:var(--naranja);
   transition:1.0s;
}

.hamburguesa {
    display:none;
}
/*///////////////////////*/

/*//////slide///*/
.slide2 figure {
  position: relative;
}

.slide2 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: color-mix(in srgb, var(--negro) 50%, transparent);
}

.breadcrumb {
    padding:20px;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:40%;
    left:43%;
    z-index: 2;
    gap:20px;
    text-align: center;
}
.breadcrumb h1 {
    color:white;
}
.guia {
    display:flex;
    flex-direction: row;
    gap:10px;
}

.guia a{
    color:var(--blanco);
}
.guia i{
    padding:0px 5px;
    color:var(--blanco);
}
.casa a:hover{
    color:var(--naranja);
    transition: 1.0s;
}
.casa i:hover{
    color:var(--naranja);
    transition: 1.0s;
}
.guia p{
    color:var(--naranja);
}
/*////////////////////*/


/*////////controlservices/////////*/
.controlservices {
    display:flex;
    flex-direction: row;
    margin:120px 100px;
    justify-content: space-around;
    gap:50px;
}
.fotofumigador {
    display:flex;
    
}

.imgabout img{
    height: 500px;
    border-radius:20px;
    filter:invert(20%);
}

.imgabout:before {
  content: '';
  position: absolute;
  width: 380px;
  height: 500px;
  background-color: var(--naranja);
  border-radius: 20px;
  top: 103%;
  left: 5%;
  z-index: -2;
}

.puntos {
  position: absolute;
  top: 95%;
  left: 33%;
  width: 5%;
  z-index: -1;
}

.years {
 position: absolute;
  top: 156%;
  left: 10%;
  width: 10%;
  padding:20px;
  border-radius: 20px;
  background-color: var(--naranja);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
  color:var(--blanco);
}
.textofumigador {
    display:flex;
    flex-direction: column;
    gap:20px;
    margin:40px;
}
.textofumigador h3{
    color:var(--naranja);
}
.contactus {
    background-color: var(--naranja);
    padding:10px;
    border-radius: 20px;
    color:var(--blanco);
}
 .contactus:hover {
    background-color: var(--negro);
    transition: 1.0s;
 }
.contactus i{
 color:var(--blanco);
 padding:0px 10px;
}

.list {
    display:flex;
    gap:30px;
    flex-direction: column;
    color:var(--gris);
}
.list i{
    color:var(--naranja);
}
/*////////////////////*/

/*///////cinta//////////*/
.cinta {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap:120px;
    margin:60px 0px;
    padding:30px;
    color:var(--blanco);
    background-color: var(--naranja);
}
.cintacontenido img{
  width: 120px;
  height: 120px;
}
/*///////////////////*/

/*///////carrousel///////*/

.carouseltitulo{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin:30px 30px;
}
.carouseltitulo h3{
    color:var(--naranja);
}
.carouseltitulo h1{
    color:var(--negro);
}
.carouseltitulo p{
    color:var(--gris);
}

.caja1sub1 {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.caja1sub1 p{
    color:var(--gris);
}
.caja1{
    margin: 0px 60px;
}

.comillas {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.triangulo {
content:'';
  width: 70px;
  height: 70px;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background-color: var(--naranja);
}
.textoCEO {
   color:var(--gris);
}

.calificacion {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.calificacion img {
    clip-path: circle(50% at 50% 50%);
}
.CEO {
    display:flex;
    flex-direction: column;
    gap:5px;
}
.CEO h3{
    color:var(--negro);
}
.CEO i{
    color:var(--naranja);
}
/*///////////////*/


/*/////expertos////////*/
.expertos {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin:80px 0px;
}
.expertos h3{
 color:var(--naranja);
}
.expertos p{
 color:var(--gris);
}

.trabajadores {
    display:flex;
    flex-direction:row;
    gap:20px;
}
.trabajador img{
    border-radius: 20px;
    width:300px;
    height:400px;
    -webkit-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
}
.trabajador h3{
 color:var(--negro);
}
.trabajador p{
    color:var(--naranja);
}
.nombre1 {
  position: absolute;
  text-align: center;
  top: 385%;
  left: 11%;
  width: 15%;
  padding:20px;
  border-radius: 20px;
  background-color: var(--blanco);
  z-index: 2;
  -webkit-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
}

.nombre2 {
  position: absolute;
  text-align: center;
  top: 385%;
  left: 32%;
  width: 15%;
  padding:20px;
  border-radius: 20px;
  background-color: var(--blanco);
  z-index: 2;
  -webkit-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
}

.nombre3 {
  position: absolute;
  text-align: center;
  top: 385%;
  left: 53%;
  width: 15%;
  padding:20px;
  border-radius: 20px;
  background-color: var(--blanco);
  z-index: 2;
  -webkit-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
}

.nombre4 {
  position: absolute;
  text-align: center;
  top: 385%;
  left: 74%;
  width: 15%;
  padding:20px;
  border-radius: 20px;
  background-color: var(--blanco);
  z-index: 2;
  -webkit-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
box-shadow: 14px 23px 30px -20px rgba(0,0,0,0.75);
}

.trabajador i{
    color:var(--blanco);
 padding:15px;
  background-color: var(--naranja);
  border-radius: 15px;
  transition: 0.5s;
  
}

.trabajador i:hover{
    color:var(--naranja);
  background-color: var(--blanco);
}

.iconostrabajadores1 {
 position:absolute;
  display:flex;
  gap:10px;
  flex-direction: column;
  top: 335%;
  left: 25%;
  width: 15%;
}

.iconostrabajadores2 {
 position:absolute;
  display:flex;
  gap:10px;
  flex-direction: column;
  top: 335%;
  left: 46%;
  width: 15%;
}

.iconostrabajadores3 {
 position:absolute;
  display:flex;
  gap:10px;
  flex-direction: column;
  top: 335%;
  left: 67%;
  width: 15%;
}


.iconostrabajadores4 {
 position:absolute;
  display:flex;
  gap:10px;
  flex-direction: column;
  top: 335%;
  left: 88%;
  width: 10%;
}

/*///////////////////*/

/*////top-footer/////////*/
.top-footer {
    display:flex;
    flex-direction: row;
    background-color:var(--negro);
    justify-content: center;
    align-items: center;
    gap:200px;
}
.top-footer h3{
    color:var(--blanco);
}
.top-footer p{
    color:var(--blanco);
}
.top-footer i{
    color:var(--naranja);
    padding:0px 5px;
}
.siguenos {
    margin:50px 100px;
    width: 30%;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.siguenos img {
    width: 30%;
    height: 30%;
}
.logodireccion i{
   color:var(--blanco);
   background-color: var(--naranja);
   padding:10px;
   border-radius: 20px;
}

.logodireccion i:hover{
   color:var(--naranja);
   background-color: var(--blanco);
   transition: 1.0s;
}
.links {
    display:flex;
    flex-direction: column;
    gap:10px;
}
.links h3{
    border-bottom:3px solid var(--naranja);
}
/*///////////////////*/


/*////bottom-footer/////////*/
.bottom-footer {
    background-color: var(--negro);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    padding:20px;
    color:var(--blanco);
}

.terminos {
    display:flex;
    flex-direction: row;
    gap:30px;
}
/*///////////////////*/