@media(max-width:430px) {
    /*header///////*/
.direccion {
    display:none;
}
.navegador {
    z-index: 99;
    position:fixed;
    display:flex;
    flex-direction: column;
    background-color: var(--blanco);
}
.nave {
    display: none;
    width: 100%;
    flex-direction: column;
    gap:20px;
    background-color: var(--blanco);
    transition: 1.0s; 
}

.nave a{
    color:var(--negro);
    width:100%;
    border-bottom: 2px solid var(--gris);
    padding:5px 20px;
}


.nave.active {
  display: flex;
}
 .hamburguesa {
    display:flex;
    align-items: center;
 }

 .lupa{
    display:flex;
    align-items: center;
    margin:0px;
 }
 .lupa a{
    color:var(--negro);
    font-size: 25px;
 }

 .GetQuote{
    display:none;
 }

 .hamburguesa a{
    color:var(--negro);
    font-size: 25px;
 }

 .phone {
    display:flex;
    justify-content: space-between;
    gap:100px;
    margin:0px 20px;
 }
/*////////////////*/


/*//////slide////////*/
.breadcrumb {
    top:30%;
    left:25%;
}
/*///////////////*/


/*///////controlservices///////////*/
.controlservices {
    flex-direction: column;
    margin:80px 10px;
    justify-content: center;
    gap:20px;
}
.fotofumigador {
   display:flex;
   justify-content: center;
}
.imgabout img{
    height: 350px;
    border-radius:20px;
}

.imgabout:before {
  content: '';
  position: absolute;
  width: 300px;
  height: 350px;
  top: 93%;
  left: 5%;
  z-index: -2;
}

.puntos {
  position: absolute;
  top: 81%;
  left: 75%;
  width: 20%;
}

.years {
 position: absolute;
  top: 130%;
  left: 22%;
  width: 40%;
  padding:20px;
  border-radius: 20px;
}
.contactus {
   align-items: center;
}
.contactus a{
 background-color: var(--naranja);
    padding:10px;
    border-radius: 20px;
    color:var(--blanco);
}
/*///////////////////*/

/*///////cinta//////////*/
.cinta {
    flex-direction: column;
}
/*///////////////////*/

/*///////carrousel///////*/

.carouseltitulo{
    text-align: center;
}
/*////////////////*/

/*/////expertos////////*/
.trabajadores {
    flex-direction:column;
    gap:30px;
}

.nombre1{
   top: 626%;
  left: 25%;
  width: 50%;
}

.nombre2{
   top: 700%;
  left: 25%;
  width: 50%;
}

.nombre3{
   top: 770%;
  left: 25%;
  width: 50%;
}

.nombre4{
   top: 842%;
  left: 25%;
  width: 50%;
}

.iconostrabajadores1 {
  top: 573%;
  left: 69%;
  width: 15%;
}

.iconostrabajadores2 {
  top: 645%;
  left: 69%;
  width: 15%;
}

.iconostrabajadores3 {
  top: 716%;
  left: 69%;
  width: 15%;
}

.iconostrabajadores4 {
  top: 787%;
  left: 69%;
  width: 15%;
}

/*///////////////////*/

/*////top-footer/////////*/
.top-footer {
    padding:20px;
    flex-direction: column;
    gap:50px;
}
.siguenos {
    margin:40px 100px;
    width: 50%;
}
.siguenos img {
    width: 60%;
    height: 60%;
}
/*///////////////////*/


/*////bottom-footer/////////*/
.bottom-footer {
    flex-direction:column;
    justify-content:center;
    padding:10px;
    gap:20px;
}
.terminos {
    flex-direction: row;
    gap:30px;
}
/*///////////////////*/

}