* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --negro: #0d152a;
  --naranja:#f7941d;
  --gris:#686969;
  --blanco:#ffffff;
  --gris2:#f4f5f7;
  --formato1:"Roboto", sans-serif;
  --formato2:"Urbanist", sans-serif;
}

h1 {
  font-family: var(--formato1);
}

h2 {
  font-family: var(--formato1);
}

h3{
  font-family: var(--formato1);
}
a{
    text-decoration: none;
    font-family:var(--formato2);
}

button{
    font-family:var(--formato2);
}

p {
    font-family:var(--formato2);
}

spam {
    color:var(--naranja);
}

/*header///////*/

.direccion {
    background-color: var(--negro);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.comunicacion {
    display:flex;
    flex-direction: row;
    gap:15px;
    color:var(--blanco);
}

.com{
    gap:10px;
    display:flex;
    flex-direction: row;
}

.com i{
   color:var(--naranja); 
}

.iconos i{
  color:var(--naranja);
  background-color: var(--blanco);
  padding:15px;
  border-radius: 50%;
}
.iconos i:hover{
    background-color: var(--negro);
    color:var(--blanco);
    transition: 1.0s;
}

.navegador {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}


.pestox {
    display:flex;
    width: 70%;
    align-items: center;
}

.pestox img{
    display:flex;
    width: 100%;
}

.phone {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.lupa {
    display:flex;
    margin:0px 190px;
}

.lupa a{
    color:var(--negro);
    font-size: 20px;
}

 .lupa a:hover{
    color:var(--naranja);
    transition: 1.0s;
 }

 .GetQuote{
    display:flex;
    
 }
 
 .GetQuote a{
    background-color: var(--naranja);
    padding:10px;
    border-radius: 20px;
    color:var(--blanco);
 }
 .GetQuote i{
    padding:0px 10px;
 }

 .GetQuote a:hover{
    background-color: var(--negro);
    transition: 1.0s;
 }


.nave {
    display:flex;
    gap:10px;
    align-items: center;
}

.nave a{
    color:var(--negro);
    font-size: 20px;
}

.nave a:hover {
   color:var(--naranja);
   transition:1.0s;
}

.hamburguesa {
    display:none;
}
/*///////////////////////*/

/*//////slide///*/
.slide figure {
  position: relative;
}

.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: color-mix(in srgb, var(--negro) 50%, transparent);
}

.breadcrumb {
    padding:20px;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:40%;
    left:43%;
    z-index: 2;
    gap:20px;
    text-align: center;
}

.breadcrumb h1 {
    color:white;
}
.guia {
    display:flex;
    flex-direction: row;
    gap:10px;
}

.guia a{
    color:var(--blanco);
}
.guia i{
    padding:0px 5px;
    color:var(--blanco);
}
.casa a:hover{
    color:var(--naranja);
    transition: 1.0s;
}
.casa i:hover{
    color:var(--naranja);
    transition: 1.0s;
}
.guia p{
    color:var(--naranja);
}
/*////////////////////*/

/*///////acordeon///////////*/

.acordeon1 {
    grid-area: acordeon1;
}

.acordeon2 {
    grid-area: acordeon2;
}

.acordeon3 {
    grid-area: acordeon3;
}

.acordeon4 {
    grid-area: acordeon4;
}

.acordeon5 {
    grid-area: acordeon5;
}

.acordeon6 {
    grid-area: acordeon6;
}

.cont_acordeon {
    display:grid;
    grid-template-areas: "acordeon1 acordeon2"
                          "acordeon3 acordeon4"            
                          "acordeon5 acordeon6"; 
                         
}

.ancho {
    max-width: 1200px;
    margin: auto;
}

.margen{
    padding: 15px;
}

.caja1sub1{
    border: 1px var(--naranja) solid;
    border-radius: 20px;
    background-color: var(--blanco);
    color: var(--negro);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.acor i{
    color: var(--blanco);
    background-color: var(--naranja);
    border-radius: 50%;
    padding:10px;
}


.caja1sub2{
    border: 1px var(--naranja) solid;
    border-radius: 20px;
    padding: 20px;
    display: none;
    margin:10px 0px;
}

.contenidoacordeon {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.contenidoacordeon img {
    width:250px;
    height:200px;
    border-radius: 20px;
}
.textoacordeon p{
    padding:5px;
    color:var(--gris);
    margin:20px;
    text-align: justify;
}
.rotar{
    transform: rotate(180deg);
    
}
/*////////////////////*/

/*//////noticias////////*/
.noticias {
    display:flex;
    flex-direction:column;
    text-align: center;
    margin:50px 20px;
    gap:30px;
}
.notitexto {
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}
.notitexto h3{
    color:var(--naranja);
}

.notitexto h1{
    color:var(--negro);
}

.notitexto p{
    color:var(--gris);
}

.blogs {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.blog {
    width:300px;
    height:390px;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.blog img{
    border-radius: 20px;
    width:300px;
    height: 200px;
}

.fecha {
    display:flex;
    flex-direction:row;
    gap:10px;
    justify-content: center;
}

.fecha i{
    color:var(--naranja);
    padding:0px 5px;
}

.fecha a{
    color:var(--negro);
}

.fecha a:hover {
    color:var(--naranja);
    transition: 1.0s
}

.fecha2 {
    display:flex;
    flex-direction:column;
    gap:10px;
}

.fecha2 p{
  color:var(--gris);
}

.fecha2 a{
  color:var(--negro);
  font-size: 18px;
}

.fecha2 a:hover{
  color:var(--naranja);
    transition: 1.0s
}

.read {
    display:flex;
    flex-direction: row;
    
}

.read a{
    border-radius: 20px;
    color:var(--blanco);
    background-color: var(--naranja);
    padding:10px;
}

.read i{
    padding: 0px 5px;
}

.read a:hover{
  background-color: var(--negro);
  color:var(--naranja);
  transition: 1.0s;
}
/*///////////////////*/


/*//////logotipos/////////*/
.logotipos {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0px;
    gap:50px;
}

.logotipos img{
    width: 150px;
    height: 100px;
}

.logotipos figure:hover {
    transform: rotate(360deg);
    transition: 1.0s;
}
/*///////////////////*/

/*////top-footer/////////*/
.top-footer {
    display:flex;
    flex-direction: row;
    background-color:var(--negro);
    justify-content: center;
    align-items: center;
    gap:200px;
}
.top-footer h3{
    color:var(--blanco);
}
.top-footer p{
    color:var(--blanco);
}
.top-footer i{
    color:var(--naranja);
    padding:0px 5px;
}
.siguenos {
    margin:50px 100px;
    width: 30%;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.siguenos img {
    width: 30%;
    height: 30%;
}
.logodireccion i{
   color:var(--blanco);
   background-color: var(--naranja);
   padding:10px;
   border-radius: 20px;
}

.logodireccion i:hover{
   color:var(--naranja);
   background-color: var(--blanco);
   transition: 1.0s;
}
.links {
    display:flex;
    flex-direction: column;
    gap:10px;
}
.links h3{
    border-bottom:3px solid var(--naranja);
}
/*///////////////////*/


/*////bottom-footer/////////*/
.bottom-footer {
    background-color: var(--negro);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    padding:20px;
    color:var(--blanco);
}

.terminos {
    display:flex;
    flex-direction: row;
    gap:30px;
}
/*///////////////////*/


/*//////flecha//////////*/
html {
    scroll-behavior: smooth ;
}

.flecha {
    position: fixed;
    bottom:30px;
    right:20px;
    z-index:999;
 }

.flecha a{
    border: 2px var(--blanco) solid;
    border-radius: 10px;
    color:var(--blanco);
    background-color: var(--naranja);
    padding:10px;

}
/*///////////////////*/
